<html ng-app>
  <head>
    <title>pig10</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script>
      function Pig10Controller($scope) {
        // Field
        $scope.field = 0;
        $scope.stack = [];

        // You
        $scope.score = 0;
        $scope.hands = [8, 2, 5];
        $scope.action = "add";

        // Use your hand
        $scope.use = function(i) {
          var hand = $scope.hands[i];
          var sweep = function() {
            $scope.stack.unshift(hand);
            $scope.hands[i] = Math.floor(11 * Math.random()); // New hand
          };

          if ($scope.action == "add") {
            var next = $scope.field + hand;
            if (next <= 10) {
              $scope.field = next;
              sweep();

              if (next == 10) {
                $scope.score += $scope.stack.length;
                $scope.stack = [];
                $scope.field = 0;
              }
            } else {
              alert('you cant over 10'); // TODO 10を超えたら前の手番のスコアに加算する
            }
          } else if ($scope.action == "sub") {
            if (hand == 5) {
              if ($scope.field >= hand) {
                $scope.field -= hand;
                sweep();
              } else {
                alert('field cant be minus');
              }
            } else {
              alert('only 5 can sub');
            }
          } else if ($scope.action == "override") {
            if (hand == 0 || $scope.field == hand) {
                $scope.field = hand;
                sweep();
            } else {
              alert('you cant override with it');
            }
          }
        };
      }
    </script>
  </head>
  <body>
    <div ng-controller="Pig10Controller">
      <h1>{{field}}</h1>
      <h2>{{stack}}</h2>
      <h3>Score:{{score}}</h3>

      <p>Your hands:</p>
      <button ng-click="use(0)">{{hands[0]}}</button>
      <button ng-click="use(1)">{{hands[1]}}</button>
      <button ng-click="use(2)">{{hands[2]}}</button>

      <p>Actions:</p>
      <div>
        <input type="radio" name="action" ng-model="action" value="add">add</input>
        <input type="radio" name="action" ng-model="action" value="sub">sub</input>
        <input type="radio" name="action" ng-model="action" value="override">override</input>
      </div>
    </div>
  </body>
</html>
