<html ng-app>
  <head>
    <title>pig10</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script>
      function createDeck() {
        // Generate
        var deck = [];
        for (var i = 0; i < 7; i++) {
          deck.push(0);
        }
        for (var i = 0; i < 5; i++) {
          deck.push(5);
        }
        for (var i = 0; i < 4; i++) {
          deck.push(10);
        }
        for (var n = 1; n <= 9; n++) {
          if (n == 5)
            continue;
          for (var i = 0; i < 8; i++) {
            deck.push(n);
          }
        }

        // Shuffle
        var shuffled_deck = [];
        while (deck.length > 0) {
          shuffled_deck.push(deck.splice(Math.floor(deck.length * Math.random()), 1)[0]);
        }

        return shuffled_deck;
      }

      function Pig10Controller($scope) {
        // Field
        $scope.field = 0;
        $scope.stack = [];
        $scope.deck = createDeck();

        // You
        $scope.score = 0;
        $scope.hands = [$scope.deck.pop(), $scope.deck.pop(), $scope.deck.pop()];
        $scope.action = "add";

        // Use your hand
        $scope.use = function(i) {
          var hand = $scope.hands[i];
          var sweep = function() {
            $scope.stack.push(hand);
            $scope.hands[i] = $scope.deck.pop();
          };

          if ($scope.action == "add") {
            var next = $scope.field + hand;
            if (next <= 10) {
              $scope.field = next;
              sweep();

              if (next == 10) {
                $scope.score += $scope.stack.length;
                $scope.stack = [];
                $scope.field = 0;
              }
            } else {
              alert('you cant over 10'); // TODO 10を超えたら前の手番のスコアに加算する
            }
          } else if ($scope.action == "sub") {
            if (hand == 5) {
              if ($scope.field >= hand) {
                $scope.field -= hand;
                sweep();
              } else {
                alert('field cant be minus');
              }
            } else {
              alert('only 5 can sub');
            }
          } else if ($scope.action == "override") {
            if (hand == 0 || $scope.field == hand) {
                $scope.field = hand;
                sweep();
            } else {
              alert('you cant override with it');
            }
          }
        };
      }
    </script>
  </head>
  <body>
    <div ng-controller="Pig10Controller">
      <h1>{{field}}(deck:{{deck.length}})</h1>
      <h2>{{stack}}</h2>
      <h3>Score:{{score}}</h3>

      <p>Your hands:</p>
      <button ng-click="use(0)">{{hands[0]}}</button>
      <button ng-click="use(1)">{{hands[1]}}</button>
      <button ng-click="use(2)">{{hands[2]}}</button>

      <p>Actions:</p>
      <div>
        <input type="radio" name="action" ng-model="action" value="add">add</input>
        <input type="radio" name="action" ng-model="action" value="sub">sub</input>
        <input type="radio" name="action" ng-model="action" value="override">override</input>
      </div>
    </div>
  </body>
</html>
